<!doctype html>
<html ng-app="messageApp">
<head>
    <% include common/head %>
</head>
<body ng-controller="app.controllers.Admin">
    <div id="main">
        <% include common/messages %>
    </div>

    <% include common/scripts %>
</body>
</html>