<!doctype html>
<html ng-app="messageApp">
<head>
    <% include common/head %>
</head>
<body>
    <div id="main">
        <img class="portrait" src="/img/mauer_small.jpg" alt="Joe Mauer"/>
        <h1>Call Or Text <span>(612) 255-4563</span> To Wish Joe Good Luck This Season!</h1>

        <!-- Angular controller to drive display of the current message list -->
        <% include common/messages %>

        <div id="acknowledgements">
            <p>
                Photos courtesy of <a href="http://commons.wikimedia.org/wiki/Main_Page" target="_blank">Wikimedia Commons</a>. Source code and contact information available on <a href="https://github.com/kwhinnery/leavejoeamessage">GitHub</a>.
            </p>
            <p>
                <a id="poweredBy" href="http://www.twilio.com/" style="text: decoration: none; display: inline-block; width: 166px; height: 0; overflow: hidden; padding-top: 31px; background: url(http://www.twilio.com/packages/company/img/logos_icon_poweredbysmall.png) no-repeat;">powered by twilio™</a>
            </p>
        </div>
    </div>
    <% include common/scripts %>
</body>
</html>