/* Site Colors */
@white: #fff;
@lightGray: #787878;
@darkGray: #232323;
@navy: #042462;
@darkNavy: darken(@navy, 5%);
@red: #b50131;

html, body {
    font-family:'Helvetica Neue', Helvetica, sans-serif;
    background-color: @darkNavy;
    color: @white;
    height: 100%;
    width: 100%;
}

h1, h2 {
    font-family: "Glegoo", "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size:1.2em;
}

a, a:visited {
    color:@red;
}

p {
    line-height: 1.4em;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}